body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

#sbideo-main {
  margin: auto;
}

.description {
    text-align: justify;
}

.description .edit {
    display: none;
}

.description:hover .edit {
    display: inline;
    cursor: pointer;
}

.label{
    cursor: pointer;
}
