[Unit]
Description=SBideo transcode
After=mountall.service

[Service]
User=www-data
Environment="NODE_ENV=production"
ExecStart=/bin/bash -ce "/usr/bin/node /usr/lib/sbideo/build/transcode.js /media/recordings/sbideo-incoming /media/recordings/sbideo-data >> /var/log/sbideo/transcode.log 2>&1"

[Install]
WantedBy=multi-user.target
