[Unit]
Description=SBideo transcode
After=mountall.service

[Service]
User=www-data
ExecStart=/bin/bash -ce "/usr/bin/node /usr/lib/sbideo/transcode.js /usr/lib/sbideo/incoming /usr/lib/sbideo/data >> /var/log/sbideo/transcode.log 2>&1"

[Install]
WantedBy=multi-user.target