ul,
ol {
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 15px;
  list-style-type: none;
}

/* Initiate grid on desktop aspect ratios */
@media (min-aspect-ratio: 1/1) {
  #itemList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2vmin;
    grid-row-gap: 3vmin;
  }

  /* sub grid */
  #itemList {
    grid-column-end: span 4;
  }
}
