.textarea {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  resize: none;
  background-color: rgba(0, 0, 0, 0.05);
  font: inherit; /* inherit all font styles from parent element, so it looks like real inline editing */
}