@import 'src/style/variables';

.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
}

.icon img {
  margin-top: 3px;
}

.editButton {
  float: right;
  margin-top: $marginSmall;

  &::after {
    content: ' ';
    display: block;
    clear: both;
  }
}

.meta {
  height: auto;
}

.people {
  font-size: 1rem;
  margin-bottom: 10px;
}

.tags {
  margin-bottom: 10px;
}

.tag {
  background-color: #002d47;
  font-weight: 600;
  color: #0f0;
  border: 0;
  display: inline-block;
  padding: 2px 4px;
  line-height: 0.8rem;
  text-transform: uppercase;
  margin-right: 3px;
  margin-bottom: 3px;
  font-size: 0.7rem;
  text-decoration: none;
}

.tag:hover {
  background-color: #0f0;
  color: #002d47;
}

.description {
  font-size: 2.5vh;

  @media (min-width: 750px) {
    font-size: 1rem;
  }
}
