@import 'src/style/variables';

.searchForm {
  margin-bottom: $marginNormal;
  display: flex;
  justify-content: center;
}

.searchForm > span {
  display: flex;
  width: 50%;
}

.searchField {
  width: 100%;
  height: 3rem;
  margin: auto;
  font-size: 1rem;
  text-align: center;
}

.resetButton {
  background-color: transparent;
}

.resetIcon {
  display: block;
}

.resetIcon svg {
  margin-right: 2px;
  margin-top: 1px;
  fill: #333;
}
