.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
}
.icon img {
  margin-top: 3px;
}

.meta {
  padding: 15px;
  height: auto;
}

.people {
  font-size: 1rem;
  margin-bottom: 10px;
}

.tags {
  margin-bottom: 10px;
}

.description {
  font-size: 0.9rem;
}

.saveButton {
  width: 100%;
}
