.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
}
.icon img {
  margin-top: 3px;
}

.meta {
  height: auto;
}

.people {
  font-size: 1rem;
  margin-bottom: 10px;
}

.tags {
  margin-bottom: 10px;
}

.title,
.description {
  width: 100%;
  border: 0;
  padding: 0;
  resize: none;
}
.title {
  // TODO better inheritance of styles
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 4vh;
  font-weight: bold;
  font-family: 'Helvetica Neue', arial, sans-serif;
}

.description {
  background-color: rgba(0, 0, 0, 0.05);
}

.saveButton {
  width: 100%;
}
